root = true

[*]
charset = utf-8
indent_style = tab
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# YAML can only use spaces for indentation
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Use npm indentation rules for package.json
[{package.json,package-lock.json}]
indent_style = space
indent_size = 2
